.split-container {
  display: flex;
  height: 100vh;
}

.gutter {
  background-color: #ddd;
  cursor: col-resize;
}

.gutter.gutter-horizontal {
  width: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.custom-text-field {
  width: 90%;
  max-width: 300px;
  height: 30px;
  border-radius: 8px;
  border-color: green;
}

.custom-text-field input {
  font-size: 12px;
}

.custom-text-field .MuiOutlinedInput-root {
  height: 100%;
  font-size: 8px;
  border-radius: 8px;
}

.custom-text-field .MuiOutlinedInput-notchedOutline {
  border-color: green !important;
}
/* Custom scrollbar styling */
.custom-accordion {
  max-height: 120px;
  overflow-y: auto;
}

.custom-accordion::-webkit-scrollbar {
  width: 8px;
}

.custom-accordion::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 10px;
}

.custom-accordion::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
